@import './modern-normalize.css';
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

:root {
    height: 100vh;
}
body {
    height: 100%;
    width: 100%;
    background: radial-gradient(circle at 50% 50%, white, rgb(197, 174, 235));
    display: flex;
    align-items: center;
    justify-content: center;
}

blockquote {
    font-family: 'Permanent Marker', cursive;
    margin: 15px;
    line-height: 1.6em;
    img {
        width: 50px;
    }
    footer {
        margin-top: 20px;
        text-align: right;
    }
}

@media (min-width: 292px) {
    blockquote {
        width: 75%;
        line-height: 2.6em;
    }
}
@media (min-width: 360px) {
    blockquote {
        width: 65%;
        font-size: 22px;
        
    }
}
@media (min-width: 415px) {
    blockquote {
        max-width: 305px;
        img {
            width: 70px;
        }
    }
}
@media (min-width: 600px) {
    blockquote {
        max-width: 345px;

        img {
            width: 80px;
        }
    }
}