@import './modern-normalize.css';
@import '../js/codemirror/lib/codemirror.css';
@import '../js/codemirror/theme/cobalt.css';
@import '../js/codemirror/addon/scroll/simplescrollbars.css';

$shadow: rgb(138, 212, 200);
$panel-color: rgb(0, 24, 32);

* {
    font-family: 'Asap', Arial, sans-serif;
}
body {
    min-height: 100vh;
}

.class-name {
    color: rgb(196, 97, 97);
}

.src-link {
    color: rgb(112, 134, 255);
}

.attribute-name {
    color: rgb(255, 178, 78);
}

.tag-name {
    color: rgb(129, 255, 129);
}

.css-property {
    color: rgb(209, 187, 230);
}

.hint {
    height: .95em;
}

iframe {
    width: 100%;
    height: 50vh;
    border: none;
}

.task-panel {
    background-color: rgb(0, 24, 32);
    color: white;
    min-height: 50vh;
    padding: 15px 10px;
    letter-spacing: 1px;
    margin-top: -3px;
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

h1 {
    margin: 0;
    text-align: center;
    color: $panel-color;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px $shadow,
                -1px 1px 10px $shadow,
                1px -1px 10px $shadow,
                -1px -1px 10px $shadow;
    letter-spacing: 2px;
    float: right;
    font-size: 18px;
}

.task-title {
    color: $panel-color;
    text-shadow: 1px 1px 1px $shadow,
                -1px 1px 1px $shadow,
                1px -1px 1px $shadow,
                -1px -1px 1px $shadow;
    padding-top: 30px;
}

h3 {
    color: rgb(200, 199, 209);
}
ol.task-list {
    line-height: 1.5em;
    list-style-position: inside;
    padding-left: 10px;
    li {
        color: rgb(200, 199, 209);
    }
}

.run-code-btn,
.next-task-btn {
    $border-color: rgb(12, 42, 99);
    width: 80px;
    height: 40px;
    margin-top: 7px;
    background-color: transparent;
    border: 1px solid $border-color;
    color: white;
    border-radius: 5px;
    transition: all .5s;
    float: right;
    &:hover {
        box-shadow: 0 0 10px 1px $border-color;
        cursor: pointer;
    }
    &:focus {
        outline: 0;
    }
}

.next-task-btn {
    margin-left: 6px;
    margin-top: 16px;
}

.CodeMirror {
    // animation-name: boomer;
    animation-duration: .5s;
}
// animation for wrong made task
@keyframes boomer {
    0%, 100% {left: 0;}
    5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85% {left: -2px;}
    10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {left: 2px;}
}


@media (min-width: 205px) {
    .run-code-btn,
    .next-task-btn {
        margin-top: 13px;
    }
}
@media (min-width: 316px) {
    .task-panel {
        padding: 15px 20px;
    }
}
@media (min-width: 501px) {
    .task-panel {
        padding: 15px 25px;
    }
    .task-title {
        padding-top: 0px;
    }
    ol.task-list {
        padding-left: 25px;
    }
}
@media (min-width: 897px) {
    iframe {
        width: 45vw;
        float: left;
        height: 100vh;
    }
    .task-panel {
        width: 55vw;
        float: right;
        height: 100vh;
        margin-top: 0;
    }
}